*{
margin:0;
padding:0;
box-sizing: border-box;

}
    
html{
    text-rendering: optimizeLegibility;
}



.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}


.row{

    max-width: 1140px;
    margin: 0 auto;
}


.header-inner {

background-image: url("...../img/dinning.jpg");
background-size: cover;
background-position: center;
height:100vh;
}


.new{
 border: 10px solid green;
  border-radius: 5px;
}

.dropdown{
margin:10px;

text-align: center;

}

.btn{
     orange;
}