*{
margin:0;
padding:0;
box-sizing: border-box;

}
    

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}


.nav-wrapper{
    padding-bottom: 30px;

}


nav#secondary-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dropdown{
margin:10px;
 text-align: center;
}
.btn-fb{

    background:#e64a19;
    
}

.btn-tw{
     background:#e64a19;

}


.btn-yt{
     background:#e64a19;

}

.btn-ins{

 background:#e64a19;
}

.btn-whatsapp{
     background:#e64a19;

}
.wrapper{
    width:728px;
    height:90px;
}



.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.recipe-card__ingredients {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  column-count: 1;
  li {
    margin-bottom: 5px;
  }
  li:before {
    content: '\2022';
    color: #eb9376;
    margin-right: 5px;
  }
}

.recipe-card__nav {
  margin: 0 0 20px;
  padding: 0;
  border-bottom: 1px solid #eb9376;
  li {
    display: inline-block;
    margin-right: 30px
  }
}
  h3 {
    margin: 0;
    padding: 0;
  }
  h3:after {
    content: '';
    display: block;
    width: 0%;
    padding-top: 10px;
    margin: 0 auto;
    border-bottom: 5px solid #eb9376;
    transition: width 250ms ease-in-out 0s;
  }
  h3:hover {
    cursor: pointer;
  }
  h3:hover:after, h3.active:after {
   width: 100%; 
  }


@media (min-width:599px) {
  .recipe-card {
    width: 600px
  }
  .recipe-card__ingredients {
    column-count: 2
  }
}
.btn-samll{

    margin:10px;
}

a {
    color: #212529;
}
