{% extends "base.html" %}
{% block content %}
   <h3 class=" deep-orange-text text-darken-2 center-align" >Add Recipe</h3>
    <div class="row card-panel">
        <form class="col s12" method="POST" action="{{ url_for('add_recipes') }}">
        <!--- Category Section-->
			<div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-folder-open prefix prefix deep-orange-text text-darken-2"></i>
                <select id="category_name" name="category_name" class = "validate" required>
                    <option value="" disabled selected>Choose your Course Meal</option>
                {% for category in categories %}
                    <option value="{{ category.category_name }}"> {{ category.category_name }}</option>
                {% endfor %}
              </select>
        <label>Course Meal Category</label>
        
    </div>
   </div>
   <div class="row">
        <div class="input-field col s12">
            <i class="fas fa-folder-open prefix prefix deep-orange-text text-darken-2"></i>
        <select id="category_name" name="category_name" class = "validate" required>
        <option value="" disabled selected>Choose your Cuisine</option>
            {% for Cuisine in Cuisine %}
             <option value="{{ Cuisine.cuisine_name }}"> {{ Cuisine.cuisine_name }}</option>
            {% endfor %}
              </select>
        <label>Cuisine Category</label>
    </div>
   </div>
<!---Recipe Name section-->
    <div class="row">
        <div class="input-field col s12">
          <i class="fas fa-utensils prefix deep-orange-text text-darken-2"></i>
          <input id="recipe_name"  name = "recipe_name" type="text" class="validate">
          <label for="recipe_name">Recipe Name</label>
    </div>
    </div>

    <!--   Recipe Description Section -->
        <div class="row" >    
         <div class="input-field col s12">
          <i class="fas fa-align-justify prefix deep-orange-text text-darken-2"></i>
           <textarea id="recipe_description" name="recipe_description" minlength="6"
             maxlength="200" class="materialize-textarea validate" required></textarea>
          <label for="recipe_description">Recipe Description</label>
    </div>
    </div>
    <!---   Cook Time Section-->
      <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="far fa-clock prefix deep-orange-text text-darken-2"></i>
          <input id="cook_time"  name = "cook_time" type="text" class="validate">
          <label for="cook_time">Cook Time</label>
        </div>
      </div>
      <!--- Servings Section-->
      <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="fas fa-utensil-spoon prefix deep-orange-text text-darken-2"></i>
          <input id="recipe_name"  name = "recipe_name" type="text" class="validate">
          <label for="recipe_name">Servings</label>
          </div>
      </div>
      <!---Ingredients Section--->
      <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="fas fa-list prefix deep-orange-text text-darken-2"></i>
          <input id="ingredients"  name = "ingredients" type="text" class="validate">
          <label for="ingredients">Enter Ingredients Separated By commas</label>
          </div>
      </div>
      <!-----Methods Section-->
       <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="fas fa-list-ol prefix deep-orange-text text-darken-2"></i>
          <input id="servings"  name = "servings" type="text" class="validate">
          <label for="servings">Methods</label>
          </div>
      </div>
      <!-- submit button section--> 
    <div class= "row">
        <div class="col s12 center-align">
          <button type="submit" class="btn btn-large deep-orange text darken-2">
            Add Recipe <i class="fa fa-plus-circle right"></i>
        </button>
        </div>
        </div>
        </form>
    </div>
    
            

    
{% endblock %}