{% extends "base.html" %}
{% block content %}

    <div class="container">
      <h1 class="display-3 textcenter">Shop for cooking tools<h1>
        <div id="withControls" class="carouse slide" data-ride="carouse" data-interval ="1000">
        <div class="carouse-inner" active>
            <div class="carouse-item">
                <img src="static/img/orange_pan.jpg" class="d-block w-100" alt="">
            </div>
        <div class="carouse-item">
            <img src="static/img/silver_pan.jpg" class="d-block w-100" alt="">
        </div>
        <div class="carouse-item">
            <img src="static/img/pink_pan.jpg" class="d-block w-100" alt="">
        </div>
    </div>
    </div> 
    <a href="#withControls" class="carouse-control-prev" data-slide="prev">
    <span class="carouse-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">previuos</span>
    </a>
    <a href="#withControls" class="carouse-control-next" data-slide="next">
    <span class="carouse-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">next</span>
    </a>
    </div>      
[[</div>



{% endblock %}