{% extends "base.html" %}
{% block content %}

    <div class="row">
			<div class="col-md-6 col-lg-4 mb-5">
				<div class="card h-60">
					<a href="https://www.lakeland.co.uk/31957/KitchenAid-Artisan-175-Stand-Mixer-Almond-Cream-5KSM175PSBAC" target="_blank">
						<img class="card-img-top" src="https://res.cloudinary.com/ib2/image/upload/v1602755601/Cookware/31957_4_lkephl.jpg" alt="image" /></a>
					<div class="card-body">
						<h5 class="card-text cookware_info"><strong>KitchenAId Stand Mixer.<br>Makes your dough effortless</strong></h5>
					</div>
					<div class="card-footer">
						<a href="https://www.lakeland.co.uk/31957/KitchenAid-Artisan-175-Stand-Mixer-Almond-Cream-5KSM175PSBAC" class="btn btn-deep-orange darken-2" target="_blank">More Info</a>
					</div>
				</div>
			</div>
            
     
			<div class="col-md-6 col-lg-4">
				<div class="card h-60">
					<a href="https://www.lakeland.co.uk/62586/Lakeland-Retro-Drinks-Maker-for-Milkshakes-and-Cocktails" target="_blank">
						<img class="card-img-top" src="https://res.cloudinary.com/ib2/image/upload/v1602755919/Cookware/62586_2_bfrxa5.jpg" alt="image" /></a>
					<div class="card-body">
						<h5 class="card-text cookware_info"><strong>Multi Function Smoothies Machine.<br>For all your drinks, smoothies and Cocktails</strong></h5>
					</div>
					<div class="card-footer">
						<a href="https://www.lakeland.co.uk/62586/Lakeland-Retro-Drinks-Maker-for-Milkshakes-and-Cocktails" class="btn btn-deep-orange darken-2" target="_blank">More Info</a>
					</div>
				</div>
			</div>
            
				<div class="col-md-6 col-lg-4">
				<div class="card h-60">
					<a href="https://www.lakeland.co.uk/71434/Dura-230-Casserole" target="_blank">
						<img class="card-img-top" src="https://res.cloudinary.com/ib2/image/upload/v1602755733/Cookware/21SUjEjmcXL._AC_SS350__rnlbpo.jpg" alt="image" /></a>
					<div class="card-body">
						<h5 class="card-text cookware_info"><strong>Casserole.<br>For cooking and warming stew.</strong></h5>
					</div>
					<div class="card-footer">
						<a href="https://www.lakeland.co.uk/71434/Dura-230-Casserole" class="btn btn-deep-orange darken-2" target="_blank">More Info</a>
					</div>
				</div>
			</div>

            <div class="col-md-6 col-lg-4 mb-5">
				<div class="card h-60">
					<a href="https://www.lakeland.co.uk/26618/5-pc-Lakeland-Stainless-Steel-5-Ply-Pan-Set" target="_blank">
						<img class="card-img-top" src="https://res.cloudinary.com/ib2/image/upload/v1602755487/Cookware/26618_1_ouwyxu.jpg" alt="image" /></a>
					<div class="card-body">
						<h5 class="card-text cookware_info"><strong>Stainless Steel Pan Sets.<br>Made of Aluminium tripple layer non stick coating,protects foods from getting burnt</strong></h5>
					</div>
					<div class="card-footer">
						<a href="https://www.lakeland.co.uk/26618/5-pc-Lakeland-Stainless-Steel-5-Ply-Pan-Set" class="btn btn-deep-orange darken-2" target="_blank">More Info</a>
					</div>
				</div>
			</div>
             <div class="col-md-6 col-lg-4 mb-5">
				<div class="card h-60">
					<a href="https://www.lakeland.co.uk/70000/Sage-The-Smart-Grinder-Pro-Coffee-Bean-Grinder-BCG820UK-" target="_blank">
						<img class="card-img-top" src="https://res.cloudinary.com/ib2/image/upload/v1602756016/Cookware/81wR2oJysPL._AC_SX466__nzqoxw.jpg" alt="image" /></a>
					<div class="card-body">
						<h5 class="card-text cookware_info"><strong>Smart Grinder Coffee Bean Grinder.<br>If you are looking to pick up a good bean grinder: try this out.</strong></h5>
					</div>
					<div class="card-footer">
						<a href="https://www.lakeland.co.uk/70000/Sage-The-Smart-Grinder-Pro-Coffee-Bean-Grinder-BCG820UK-" class="btn btn-deep-orange darken-2" target="_blank">More Info</a>
					</div>
				</div>
			</div>
    <div class="col-md-6 col-lg-4 mb-5">
				<div class="card h-60">
					<a href="https://www.lakeland.co.uk/31999/Lakeland-3-Piece-Oven-Tray-Bakeware-Set" target="_blank">
						<img class="card-img-top" src="https://res.cloudinary.com/ib2/image/upload/v1602756158/Cookware/312CndjxHJL._AC__vyenoq.jpg" alt="image" /></a>
					<div class="card-body">
						<h5 class="card-text cookware_info"><strong>Oven Tray Set.<br>Choice of tray sizes to meet your baking needs.</strong></h5>
					</div>
					<div class="card-footer">
						<a href="https://www.lakeland.co.uk/31999/Lakeland-3-Piece-Oven-Tray-Bakeware-Set" class="btn btn-deep-orange darken-2" target="_blank">More Info</a>
					</div>
				</div>
			</div>



{% endblock %}