{% extends "base.html" %}
{% block content %}



   <div class="row">
          
    <!--Grid column-->
    <div class="col s12 m8 offset-m2">
      <!--Card-->
      <div class="card testimonial-card">
        <!--Background color-->
        <div class="card-up info-color"></div>
        <!--Avatar-->
        <div class="avatar mx-auto white">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTGQzR56EtkiKvK5IPJi7zHjKn7RoPU85lFQA&usqp=CAU" class="rounded-circle img-fluid">
        </div>
        <div class="card-body">
          <!--Name-->
          <h3 class="center-align orange-text text-darken-4">
                    {{ username }}'s Profile
                </h3>
          <hr>
          
        </div>
      </div>

        
                
            </div>
        </div>
    </div>
                
         
{% endblock %}