{% extends "base.html" %}
{% block content %}

<section>
  
        <!-- flash messages -->
     {% with messages = get_flashed_messages(category_filter=['success']) %}
             {% if messages %}
                {%for msg in messages%}
                   <div class="alert alert-success alert-dismissible mb-3" role="alert">
                        <span>{{msg}}</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                   </div>
                {% endfor%}
              {% endif %}
         {% endwith %}
         {% with messages = get_flashed_messages(category_filter=['error']) %}
             {% if messages %}
                {%for msg in messages%}
                   <div class="alert alert-danger alert-dismissible mb-3" role="alert">
                        <span>{{msg}}</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                   </div>
                {% endfor%}
              {% endif %}
         {% endwith %}
    </section>
 
<div class="container">
<div class ="row">

 <div class="row">
            {% for recipe in recipes%}

< <main class="container">

<h4 class="text-center py-4">Three equal columns layout</h4>

<!-- Grid row -->
<div class="row">

  <!-- Grid column -->
  <div class="col-lg-4 col-md-12 mb-4">

    <!--Card Primary-->
    <div class="card mdb-color text-center z-depth-2">
      <div class="card-body">
        <h3 class="text-uppercase font-weight-bold cyan-text mt-2 mb-3"><strong>First column</strong></h3>
        <p class="white-text mb-0">Ut enim ad minima veniam, quis nostrum exercita tionem ullam corporis
          suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis autem vel eum iure reprehenderit
          qui in ea voluptate non proident velit esse quam. </p>
      </div>
    </div>
    <!--/.Card Primary-->

  </div>
  <!-- Grid column -->
                    </div>  
                </div> 
            
            </div> 
          </div>

             
               {% endfor %} 

<!-- <hr class = "new"> -->
</div>












   
     <!-- {% for recipe in recipes %}<br>
        {{ recipe.category_name }}<br>
        {{ recipe.recipe_name }}<br>
        {{ recipe.cook_time}}<br>
        {{ recipe.prep_time }}<br>
    {% endfor %}
    
    {% for cuisine in cuisines %}
        {{ cuisine.cuisine_name }}
    {% endfor %} -->




{% endblock %}     

