{% extends "base.html" %}
{% block content %}

<section>
  
        <!-- flash messages -->
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>
 
<div class="container">
<hr class = "new">
</div>












   
     <!-- {% for recipe in recipes %}<br>
        {{ recipe.category_name }}<br>
        {{ recipe.recipe_name }}<br>
        {{ recipe.cook_time}}<br>
        {{ recipe.prep_time }}<br>
    {% endfor %}
    
    {% for cuisine in cuisines %}
        {{ cuisine.cuisine_name }}
    {% endfor %} -->




{% endblock %}     

