{% extends "base.html" %}
{% block content %}

<section>
  
        <!-- flash messages -->
     {% with messages = get_flashed_messages(category_filter=['success']) %}
             {% if messages %}
                {%for message in messages%}
                   <div class="alert alert-success alert-dismissible mb-3" role="alert">
                        <span>{{msg}}</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                   </div>
                {% endfor%}
              {% endif %}
         {% endwith %}
         {% with messages = get_flashed_messages(category_filter=['error']) %}
             {% if messages %}
                {%for messages in messages%}
                   <div class="alert alert-danger alert-dismissible mb-3" role="alert">
                        <span>{{msg}}</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                   </div>
                {% endfor%}
              {% endif %}
         {% endwith %}
    </section>

<!-- card panels-->
    
<div style = "margin-top:10px">

<div class ="row ">
{% for recipe in recipes%}
<div class=" col-md-3 mt-4"> 
    <div class="card h-100"> 
    <div class="cardImage">
     <img class= "card-img" src= "{{recipe.recipe_image}}" alt="Daat recipes"/> 
          </div>
      
    <div class="card-body">
        <h4 class="card-title">
        <p class="card-text">
         {{recipe.description}}
        
      </p>
         </div>
      <div class="card-footer">
       <a href="#" class="btn bg_cl">See Recipe</a>
          </div> 
        </div>  
        </div>

{% endfor %}

            


             
               

<!-- <hr class = "new"> -->












   
     <!-- {% for recipe in recipes %}<br>
        {{ recipe.category_name }}<br>
        {{ recipe.recipe_name }}<br>
        {{ recipe.cook_time}}<br>
        {{ recipe.prep_time }}<br>
    {% endfor %}
    
    {% for cuisine in cuisines %}
        {{ cuisine.cuisine_name }}
    {% endfor %} -->




{% endblock %}     

